Assets/StreamingAssets/openai_key.txt
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

Assets/Firebase/Plugins/x86_64/FirebaseCppApp-*.*

# Rider
.idea/
*.sln
*.csproj

# VS Code
.vscode/
.vs/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Autres fichiers Unity inutiles
*.unitypackage

Assets/StreamingAssets/openai_key.txt 
Assets/StreamingAssets/openai_key.txt.meta
